doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    
    script(defer, src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(defer, src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(defer, src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")

    script(defer, src="https://cdn.socket.io/socket.io-1.2.0.js")
    //Cannot defer
    script(src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js")

    if project !== undefined
      title=project
    else
      title barryCI
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
      a.navbar-brand(href='#') barryCI
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          if username === undefined
            li.nav-item
              a.navlink(href='/login') Login
          else
            li.nav-item
              a.nav-link(href='/app/list') List
            li.nav-item
              a.nav-link(href='/app/manage') Manage builds
            li.nav-item
              a.nav-link(href='/app/logout')='Log out ' + username
    
    a(href="https://github.com/WorksOfBarry/barryCI")
      img(style="position: absolute; top:0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png", alt="Fork me on GitHub")