include ./head.pug
script(defer, src="/public/statusUpdate.js")

// https://getbootstrap.com/docs/3.3/css/#grid-example-basic

.container-fluid
  .row
    .col-1
    .col-5
      #statuses
        //This is handled via the sockets now!
    .col-4
      h3.mb-3 Live history
      table(id='latest', class='table table-hover')