include ./head.pug
script(defer, src="/public/statusUpdate.js")
link(href='/public/list.css', rel='stylesheet')

// https://getbootstrap.com/docs/3.3/css/#grid-example-basic

.container-fluid
  .row
    .col-1
    .col-5
      #statuses
        //This is handled via the sockets now!
    .col-4
      h3.mb-3 Latest history
      table(id='latest', class='history table table-hover table-borderless')