include ./head.pug
script(defer, src="/public/manage.js")

// https://getbootstrap.com/docs/3.3/css/#grid-example-basic

.container

  .row
    .col-md-1
    .col-md-10
      h3 Build configurations

      table(class='table table-hover')
        thead
          tr
            th ID
            th Name
            th
        tbody
          each repo, key in repos
            tr
              td=key
              td=repo.name
              td
                .btn-group(role='group')
                  a(href='/app/edit/' + key)
                    button.btn.btn-primary(type='button', class='btn-sm') Edit
                  if repo.clone_url !== undefined
                    button.btn.btn-light(onclick='dobuild(this.name)', name=key, type='button', class='btn-sm') Trigger Build

      p
        a(href='/app/create')
          button.btn.btn-primary(type='button', class='btn-sm') Create
          
    .col-md-1