include ./head.pug
script(defer, src="/public/consoleStandard.js")

// https://getbootstrap.com/docs/3.3/css/#grid-example-basic

.container

  .row
    .col-md-1
    .col-md-10
      h3.mb-4=project + ' build result'
      .card.mb-3#infocard(class='border-' + panel)
        .card-body
          h5.card-title Information
          table(class='table table-condensed')
            thead
              tr
                th Commit
                th Reference
                th Last updated
            tbody
              tr
                td=commit
                td=ref
                td#timeUpdated=timestamp
    .col-md-1
    
  .row
    .col-md-1
    .col-md-10
      .card.mb-3
        .card-header Result
        .card-body
          textarea#console.form-control(rows='20')
    .col-md-1