.history td {
  padding-top: 1em;
  padding-bottom: 1em;
}

.text-red {
  color: red;
}
.text-green {
  color: green;
}
.text-blue {
  color: #4286f4;
}

.card a {
  text-decoration: none !important;
}

.card a p {
  color: black !important;;
}

.custom-display-5 {
  font-weight: 300;
}