#console {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.7em;
  color: white;
  background-color: black;
  border-radius: 0rem;
}

.consoleCard {
  padding: 0rem;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

#infocard {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}

.custom-display-5 {
  font-weight: 300;
}

.result-success {
  border-left: 15px solid green;
}

.result-warning {
  border-left: 15px solid orange;
}

.result-danger {
  border-left: 15px solid #ec2a00;
}